@import "foundation/foundation";
@import "utils";

// Hide until angular loaded to avoid FOUC
.ng-cloak{
  display: none !important;
}

// THis is shown wile the app is being loaded and initialised
#app-loading-container {
  // Hide usually
  display: none;
  // Display while the app is being initialised.  This and the above effectively reverse the ng-cloak functionality fo this element
  &.ng-cloak{
    display: table !important; // Use table rather than block to get vertical-align to work
  }

  // Styling of the loading container while it is shown
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: hotpink url('images/loading_spinner.gif') no-repeat center center;
  #app-loading-message{
    border: 1px solid black;
    margin: auto;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 2em;
  }
}

.page-container{
  padding: 10px;
}

.main-menu{
  @include equalwidth;
  .menu-item{
	cursor: pointer;
	&.disabled{
	  cursor: not-allowed;
	}
	border: solid #000000 1px;
	padding: 2px 10px;
	text-align: center;
  }
}

.disabled{
  opacity: 0.7;
  cursor: not-allowed;
}

.card{
  height: 8em;
  border: 1px solid black;
  border-radius: 3px;
  width: 5em;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.meeting-board{
  @include clearfix;
  margin-top: 10px;
  .player{
    display: inline-block;
    margin: 0 5px;
  }
  h5{
    margin-top: 0;
    text-align: center;
  }
  &.hide-cards{
    .player{
      &.has-bid{
        .card{
          background: #008000;
        }
      }
    }
  }
}

.bid-board {
  .possible-bids{
    list-style-type: none;
    li{
      display: inline-block;
      padding: 5px;
      cursor: pointer;
      .card:hover{
        background-color: orange;
      }
      &.chosen{

        .card{
          background: #008000 ;
        }
      }
    }
  }
}

.button-container{
  @include equalwidth;
  input{
    display: none;
  }
}
label.button{
  border: 1px solid #000000;
  padding: 0 3px;
  text-align: center;
  cursor: pointer;
  &.disabled{
    cursor: not-allowed;
  }
  &.active{
    background: #008000;
  }
}

@mixin issue-elements{
  padding: 0;
  line-height: 2em;
  font-size: 1.2em;
}
.issue-row{
  @include grid-row;
  padding-top: 10px;
  label, input, textarea{
    @media #{$small-up} {
      @include grid-column($columns: 12);
      @include issue-elements;
    }
  }
  label{
    @media #{$medium-up} {
      @include grid-column($columns:3);
      @include issue-elements;
    }
  }
  input, textarea{
    @media #{$medium-up} {
      @include grid-column($columns:9);
      @include issue-elements;
    }
  }
  button{
    @include grid-column($columns:12);
    @include issue-elements;
  }
}
