@import "foundation/foundation";
@import "utils";

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?353xry');
  src: url('fonts/icomoon.eot?#iefix353xry') format('embedded-opentype'),
       url('fonts/icomoon.ttf?353xry') format('truetype'),
       url('fonts/icomoon.woff?353xry') format('woff'),
       url('fonts/icomoon.svg?353xry#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$active-button-colour: blue;

/**
**/
@mixin icon($lig){
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:before{
    content: $lig;
  }


}

// Hide until angular loaded to avoid FOUC
.ng-cloak{
  display: none !important;
}

// THis is shown wile the app is being loaded and initialised
#app-loading-container {
  // Hide usually
  display: none;
  // Display while the app is being initialised.  This and the above effectively reverse the ng-cloak functionality fo this element
  &.ng-cloak{
    display: table !important; // Use table rather than block to get vertical-align to work
  }

  // Styling of the loading container while it is shown
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background: hotpink url('images/loading_spinner.gif') no-repeat center center;
  #app-loading-message{
    border: 1px solid black;
    margin: auto;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    font-weight: bold;
    font-size: 2em;
  }
}

.page-container{
  padding: 10px;
}

.main-menu{
  @include equalwidth;
  .menu-item{
	cursor: pointer;
	&.disabled{
	  cursor: not-allowed;
	}
	border: solid #000000 1px;
	padding: 5px 10px 2px 10px;
	text-align: center;
    @media #{$small-only}{
      font-size: 30px;
      border: none;
      .text{
        display: none;
      }
    }

    &.icon-change-issue{
      @include icon('\e602');
    }

    &.icon-show-cards{
      @include icon('\e60c');
    }

    &.icon-end-meeting{
      @include icon('\e60e');
    }

    &.icon-leave-meeting{
      @include icon('\e608');
    }

    &.icon-logout{
      @include icon('\e610');
    }

    &.icon-view-board{
      @include icon('\e61c');
    }
  }
}

.playing-as,
.meeting-head{
  @media #{$small-only}{
    display: none
  }
}

.disabled{
  opacity: 0.7;
  cursor: not-allowed;
}

@mixin noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

$card-width: 100px;
$card-height: 180px;
.card{
  height: $card-height;
  border: 1px solid black;
  border-radius: 3px;
  width: $card-width;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  @include noselect;
  position: relative;
  .card-corner{
	font-size: 15px;
	position: absolute;
  }
  .card-top-left{
	left: 4px;
	top: 2px;
  }
  .card-bottom-right{
	right: 4px;
	bottom: 2px;
	transform: rotateX(180deg) scaleX(-1);
  }
}
$player-padding: 10px;
$player-offset: 15px;
.meeting-board{
  margin-top: 10px;
  .player{
    display: table-cell;
    margin: 0 5px;
    width: 48px + (2*$player-padding);
    height: 48px + (2*$player-padding);
    overflow: hidden;
    padding: $player-padding;
    text-align: center;
    vertical-align: middle;
  }

  &.hide-cards{
    .player{
      opacity: 0.4;
      &.has-bid{
        opacity: 1;
      }
    }
  }
}

.bid-board {
  @include noselect;
  .possible-bids{
    list-style-type: none;
    margin: 0 auto;
    li{
      padding: 20px 0;
	  width: $card-width;
      cursor: pointer;
      .card:hover{
        background-color: orange;
      }
      &.chosen{
        .card{
          background: #008000 ;
        }
      }
    }
  }

  .bid-container-carousel{
	display: none;
	@media #{$small-only} {
	  display: block;
	  width: 50%;
	  margin: 0 auto;
	}
	.possible-bids{
	  li{
		height: $card-height + 80px;

	  }
	}
	.card {
	  font-size: 80px;
	}
  }
  .bid-container-spread{
	.card {
	  font-size: 50px;
	}
	.possible-bids{
	  li{
		display: inline-block;
		padding: 5px;

	  }
	}
	@media #{$small-only} {
	  display: none;
	}
  }
}

.button-container{
  @include equalwidth;
  > span{
    padding: 0 0.5rem;
    &:first-of-type{
      padding-left: 0;
    }
    &:last-of-type{
      padding-right: 0;
    }
  }
  label.button{
    margin-left: 0;
    margin-right: 0;
  }
  input{
    display: none;
  }
}
button, .button{
  text-align: center;
  cursor: pointer;
  width: 100%;
  &.disabled{
    cursor: not-allowed;
  }
  border: 1px solid;
  //padding: 6px 3px;
  &.active{
    color: $active-button-colour;
    border-color: $active-button-colour;
  }
  .text {
    margin-left: 3px;
  }
}

li.button{
  list-style-type: none;
}

@mixin issue-elements{
  line-height: 2em;
  font-size: 1.2em;
}

.icon-issue-type{
  min-height: 24px;
}
.issue-row{
  @include grid-row;
  padding-top: 10px;
  label, input, textarea{
    padding: 0;
    @media #{$small-up} {
      @include grid-column($columns: 12);
      @include issue-elements;
    }
  }
  label{
    @media #{$medium-up} {
      @include grid-column($columns:3);
      @include issue-elements;
    }
  }
  input, textarea{
    @media #{$medium-up} {
      @include grid-column($columns:9);
      @include issue-elements;
    }
  }
  button{
    @include grid-column($columns:12);
    @include issue-elements;
  }
}

.issue-detail{
  @media #{$small-only}{
    display: none;
  }
}
.custom-field{
  display: block;
  &.empty-field{
    display: none;
  }
  @media #{$small-only}{
    font-size: small;
  }

  .field-name:after{
    content: ': ';
  }
}
.set-issue-container{
  .button{
    @media #{$small-only}{
      font-size: 24px;
      border: none;
      .text{
        display: none;
      }
    }

    &.set-using-jira{
      @include icon('\e60a');
    }
    &.set-jira-link{
      @include icon('\e61f');
    }
    &.set-manually{
      @include icon('\e600');
    }
  }
}

$bid-item-size: 30px;
$max-num-players: 19;
.bids-made-container{
  position: relative;

  @for $i from 0 through $max-num-players{
	&.max-same-bid-#{$i}{
  		height: ($i+2) * $bid-item-size;
	}
  }
  @media screen and (orientation: portrait){
	@for $i from 0 through $max-num-players{
	  &.max-same-bid-#{$i}{
		height: 11 * $bid-item-size;
	  }
	}
  }

  .item{
	width: $bid-item-size;
	height: $bid-item-size;
	display: table-cell;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	background: hotpink;
	border: 1px solid black;

	&.bid-pos-0{
	  background: none;
	  border: none;
	}
	@for $i from 0 through 9{
	  &.bid-index-#{$i}{
		left: $bid-item-size * $i;
	  }
	}
	@for $i from 0 through $max-num-players{
	  &.bid-pos-#{$i}{
		bottom: $bid-item-size * $i;
	  }
	}
	@media screen and (orientation: portrait){
	  @for $i from 0 through 9{
		&.bid-index-#{$i}{
		  top: $bid-item-size * $i;
		}
	  }
	  @for $i from 0 through $max-num-players{
		&.bid-pos-#{$i}{
		  left: $bid-item-size * $i;
		}
	  }

	}

  }
}
