<h1>You must log in to play</h1>
<div>
	<input type="checkbox" data-ng-model="play_as_guest" id="play-as-guest" value="1" />
	<label for="play-as-guest">Play as guest</label>
</div>
<div data-ng-if="play_as_guest">
	<form data-ng-controller="LoginController as login" data-ng-submit="login.do_login()">
		<input type="hidden" data-ng-model="play_as_guest" value="1" />
		<div>
			<label for="dispname">Display Name</label>
			<input type="text" data-ng-model="dispname" id="dispname" />
		</div>
		<div>
			<input type="checkbox" data-ng-model="use_local" id="use-local" value="1" />
			<label for="use-local">Remember me on this device</label>
		</div>

		<div>
			<button type="submit">Log in</button>
		</div>
	</form>
</div>
<div data-ng-if="!play_as_guest">
	<form data-ng-controller="LoginController as login" data-ng-submit="login.do_login()">
		<input type="hidden" data-ng-model="play_as_guest" value="0" />
		<div>
			<label for="username">User Name</label>
			<input type="text" data-ng-model="username" id="username" />
		</div>
		<div>
			<label for="password">Password</label>
			<input type="password" data-ng-model="password" id="password" />
		</div>
		<div>
			<input type="checkbox" data-ng-model="use_local" id="use-local" value="1" />
			<label for="use-local">Remember me on this device</label>
		</div>

		<div>
			<button type="submit">Log in</button>
		</div>
	</form>
</div>
